<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCFService.Service"
					 behaviorConfiguration="behaviorConfig">

        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7997/WPFServer/"/>
          </baseAddresses>
        </host>
        
        <endpoint address="tcp"
						  binding="netTcpBinding"
						  bindingConfiguration="binding"
						  contract="Contracts.IChat"/>
        <endpoint address="net.tcp://localhost:8070/WPFServer/"
						  binding="netTcpBinding"
						  bindingConfiguration="binding_alt"
						  contract="Contracts.IStore"/>

        <endpoint address="net.tcp://localhost:7996/WPFServer/mex"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange"/>
        
        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorConfig">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="binding">
          <security mode="Transport">
          </security>
          <readerQuotas maxArrayLength="67108864"
								  maxBytesPerRead="67108864"
								  maxStringContentLength="67108864"/>
          <reliableSession enabled="true" inactivityTimeout="00:20:00"/>
        </binding>
        <binding name="binding_alt">
          <security mode ="Transport">
            
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
   
</configuration>